@model ProjektMVCdotnet8.Entities.ContactEntity

@{
    ViewData["Title"] = "Details";
}

<h1 class="display-4">Szczegóły zgłoszenia:</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Powrót do panelu</a>
</div>
