@model IEnumerable<ProjektMVCdotnet8.Entities.ContactEntity>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Próby Kontaktu:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Email zgłaszającego:
            </th>
            <th>
                Temat:
            </th>
            <th>
               Typ problemu:
            </th>
            <th>
               Treść zgłoszenia:
            </th>
            <th>
               Data:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactContent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDate)
            </td>
            <td>
                    <ul class="list-group">
                        <li class="list-group-item"> <a asp-action="Details" asp-route-id="@item.Id" class="link-primary">Szczegóły</a></li>
                        <li class="list-group-item"><a asp-action="Delete" asp-route-id="@item.Id" class="link-success">Oznacz jako obsłużone</a></li>
                    </ul> 
            </td>
        </tr>
}
    </tbody>
</table>
<div class="text-center">
    <a asp-controller="Home" asp-action="ModPanel">Powrót do panelu moderatora</a>
</div>