@model IEnumerable<ProjektMVCdotnet8.Entities.ReportPostEntity>

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Zgłoszone posty:</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Id zgłoszonego postu:
            </th>
            <th>
                Treść zgłoszenia:
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.postId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.ReportContent)
            </td>
            <td>
                    <ul class="list-group">
                        <li class="list-group-item"> <a class="link-primary" asp-action="Details" asp-route-id="@item.Id">Szczegóły zgłoszenia</a></li>
                        @{
                            int repPost = item.postId;
                        }
                        <li class="list-group-item"> <a class="link-danger" asp-controller="Post" asp-action="ReviewPost" asp-route-id="@repPost">Zdecyduj czy usunąć post</a></li>
                        <li class="list-group-item"> <a class="link-success" asp-action="Delete" asp-route-id="@item.Id">Usuń ze zgłoszonych postów</a></li>
                    </ul>
            </td>
        </tr>
}
    </tbody>
</table>
<div class="text-center">
    <a asp-controller="Home" asp-action="ModPanel">Powrót do panelu moderatora</a>
</div>