@page
@model IndexModel
@{
    ViewData["Title"] = "Zarządzaj Profilem Użytkownika";
    ViewData["ActivePage"] = ManageNavPages.Index;
}
<style>
    .profile-picture 
    {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        margin-bottom: 8px;
        cursor: pointer;
    }

    .profile-picture img {
        width: 100%;
        height: auto;
    }
</style>
<div class="text-center">
<h3>@ViewData["Title"]</h3>
</div>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
<div class="d-flex justify-content-center">
    <div class="col-md-6">
            <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="d-flex justify-content-center mb-3">
                <div class="profile-picture border border-3 border border-primary" onclick="document.getElementById('avatar-input').click()">
                        <img src="@Url.Content("~/attachments/" + Model.Input.Avatar)" class="card-img-top" alt="Avatar" />
                </div>
                <input type="file" id="avatar-input" style="display:none;" accept="image/*" onchange="previewAvatar(event)" asp-for="Input.AttachmentSource" />
            </div>
                <div class="text-center">
                    <p class="fw-bold fs-2">Masz @Model.Input.Points Punktów!</p>
                </div>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Podaj swój numer telefonu."/>
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <select asp-for="Input.Country" class="form-select" onchange="handleCountryChange(this)">
                    <option value="Wybierz kraj">Wybierz kraj</option>
                    <option value="Polska">Polska</option>
                    <option value="USA">USA</option>
                    <option value="Niemcy">Niemcy</option>
                    <option value="Anglia">Anglia</option>
                    <option value="Francja">Francja</option>
                    <option value="Rosja">Rosja</option>
                </select>
                <label asp-for="Input.Country" class="form-label"></label>
            </div>
                    <div class="form-floating mb-3" id="citySelect">
                    @if (Model.Input.Country == "Polska")
                    {
                        <select asp-for="Input.City" class="form-select">
                            <option value="Wybierz miasto">Wybierz miasto</option>
                            <option value="Warszawa">Warszawa</option>
                            <option value="Kraków">Kraków</option>
                            <option value="Łódź">Łódź</option>
                            <option value="Wrocław">Wrocław</option>
                            <option value="Poznań">Poznań</option>
                            <option value="Gdańsk">Gdańsk</option>
                            <option value="Szczecin">Szczecin</option>
                            <option value="Bydgoszcz">Bydgoszcz</option>
                            <option value="Lublin">Lublin</option>
                            <option value="Białystok">Białystok</option>
                            <option value="Katowice">Katowice</option>
                            <option value="Gdynia">Gdynia</option>
                            <option value="Częstochowa">Częstochowa</option>
                            <option value="Radom">Radom</option>
                            <option value="Sosnowiec">Sosnowiec</option>
                            <option value="Toruń">Toruń</option>
                            <option value="Kielce">Kielce</option>
                            <option value="Rzeszów">Rzeszów</option>
                            <option value="Gliwice">Gliwice</option>
                            <option value="Zabrze">Zabrze</option>
                            <option value="Olsztyn">Olsztyn</option>
                            <option value="Bielsko-Biała">Bielsko-Biała</option>
                            <option value="Siedlce">Siedlce</option>
                            <option value="Zielona Góra">Zielona Góra</option>
                        </select>
                        <label asp-for="Input.City" class="form-label"></label>
                    }
                    </div>
                
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Zapisz</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

        <script>
            function handleCountryChange(select) {
                var citySelect = document.getElementById('citySelect');
                var cityInput = document.getElementById('@Html.IdFor(model => model.Input.City)'); // Pobierz pole wyboru miasta
                if (select.value === 'Polska') 
                {
                    citySelect.style.display = 'block';
                }
                else 
                {
                    cityInput.value = null;
                    citySelect.style.display = 'none';
                }
                if (select.value === 'Wybierz kraj') {
                    document.getElementById('@Html.IdFor(model => model.Input.Country)').value = null;
                }
            }
            function handleCityChange(select) 
            {
                if (select.value === 'Wybierz miasto') 
                {
                    document.getElementById('@Html.IdFor(model => model.Input.City)').value = null;
                }
            }
            function previewAvatar(event) 
            {
                var input = event.target;
                var reader = new FileReader();
                reader.onload = function () {
                    var dataURL = reader.result;
                    var output = document.querySelector('.profile-picture img');
                    output.src = dataURL;
                };
                reader.readAsDataURL(input.files[0]);
            }
        </script>
}
