@using ProjektMVCdotnet8.Entities
@model IEnumerable<ProjektMVCdotnet8.Entities.MessageEntity>

@{
    ViewData["Title"] = "Chat";
}

<style>
    .chat-container {
        height: calc(81vh - 56px);
    }

    .messages-container {
        height: calc(81vh - 150px);
        overflow-y: auto;
    }

    .message-box {
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .message-row {
        display: flex;
        flex-direction: row-reverse;
    }

    .first-message-content {
        margin-left: auto;
        padding: 10px;
        font-style: italic;
        color: #333333;
        text-align: center;
    }

    .message-content {
        margin-left: auto;
        padding: 10px;
    }

    .message-date {
        margin-left: auto;
        color: #777;
        font-size: 12px;
    }

    .message-box2 {
        background-color: #0d6efd;
        color: #ffffff;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .message-row2 {
        display: flex;
        flex-direction: row;
    }

    .message-date2 {
        margin-left: auto;
        color: #ffffff;
        font-size: 12px;
    }

    .awatar {
        height: 30px;
        width: 30px;
    }
</style>

<div class="container-fluid flex-grow-1 chat-container">
    <div class="card h-80">
        <div class="card-header bg-primary text-white">
            Chat z @ViewBag.SecondUser
        </div>
        <div class="card-footer">
            <div class="messages-container" id="messagesContainer">
                <!-- Wyswietlanie wiadomosci -->
                @{
                    foreach (var item in Model)
                    {
                        if (item.currentChat == ViewBag.CurrentChat)
                        {
                            if (@item.UsingUser == ViewBag.CurrentUser)
                            {
                                <div class="message-row">
                                    <div class="message-box">
                                        @{
                                            string str1 = "/attachments/"+ViewBag.CurrentUser.Avatar;
                                        }
                                        <a href="@Url.Action("Profile", "User", new { username = ViewBag.CurrentUser.UserName })">
                                        <img src=@str1 class="awatar rounded-circle img-fluid border border-2" alt="Alternate Text" />
                                        </a>
                                        <small style="margin-left: auto;">@ViewBag.CurrentUser</small>
                                        <div class="message-content">
                                            <strong class="text-break">@item.MessageContent</strong>
                                        </div>
                                        <div class="message-date">
                                            <small>@item.SendDate.ToString("dd-MM-yyyy HH:mm:ss")</small>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="message-row2">
                                    <div class="message-box2">
                                        @{
                                            string str2 = "/attachments/" + ViewBag.SecondAvatar;
                                        }
                                        <a href="@Url.Action("Profile", "User", new { username = ViewBag.SecondUser })">
                                        <img src=@str2 class="awatar rounded-circle img-fluid border border-2" alt="Alternate Text" />
                                        </a>
                                        <small style="margin-left: auto;">@ViewBag.SecondUser</small>
                                        <div class="message-content">
                                            <strong class="text-break">@item.MessageContent</strong>
                                        </div>
                                        <div class="message-date2">
                                            <small>@item.SendDate.ToString("dd-MM-yyyy HH:mm:ss")</small>
                                        </div>
                                    </div>
                                </div>

                            }
                        }
                    }
                }
            </div>
            <div class="d-flex align-items-center justify-content-between mt-3">
                <!-- Wysylanie wiadomosci -->
                <form id="sendMessageForm" method="post" asp-controller="MessageEntities" asp-action="Create" class="d-flex flex-grow-1">
                    <input type="hidden" name="chatId" value="@ViewBag.CurrentChat">
                    <div class="form-group mb-0 flex-grow-1 mr-3">
                        <div class="input-group mb-3">
                            <input asp-for="@Model.ElementAt(0).MessageContent" class="form-control" value="" placeholder="Napisz wiadomość..." required />
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Wyślij</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    window.onload = function () {
        var messagesContainer = document.getElementById("messagesContainer");
        messagesContainer.scrollTop = messagesContainer.scrollHeight;
    };
</script>